<div *ngIf="person" id="person-details-container" class="border-g">
  <p>Name: <span>{{person.name}}</span></p>
  <p>Email: <a>{{person.email}}</a></p>
  <p>Meine Fachgebiete: <span>{{getFachgebieteString()}}</span></p>
  <p>Themen:</p>
  <ul>
    @for (thema of person.themen; track thema.id) {
      <li>
        <p>Titel: {{thema.titel}}</p>
        <p>Beschreibung: {{thema.beschreibung}}</p>
        <p>Fachgebiete: <span>{{getThemenFachgebiete()}}</span></p>

        @if (thema.links && thema.links.length > 0) {
          <ul>
            @for (l of thema.links; track l.id) {
              <li>
                <a [href]="[l.url]">{{l.text}}</a>
              </li>
            }
          </ul>
        }

        @if (thema.dateien && thema.dateien.length > 0) {
          <p>Dateien:</p>
          <ul>
            <!-- TODO muss ein anklickbarer Download sein -->
            @for (d of thema.dateien; track d.id) {
              <li>
                <p>{{d.titel}} - {{d.beschreibung}}</p>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
  <a [routerLink]="['/home']">zurück</a>
</div>
