header {
  margin-bottom: 50px;
}

nav {
  background-color: var(--secondary-color);
}

main {
  height: 91vh;
}

ul {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
