#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  margin-top: 75px;
  margin-bottom: 100px;
}

#anforderungen-container {
  display: flex;
  flex-wrap: wrap;
}

.anforderung-item {
  margin: 8px;
}

.form {
  width: 700px;
}
