#dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#person-suche-nav-container {
  display: flex;
  align-items: center;
}

.suche-container {
  background-color: #eaeaea;
  border-radius: 20px;
  min-width: 400px;
  width: 30%;
  margin: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.suche {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}

.suche-input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
}

.suche-btn {
  background-color: var(--accent-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 200px;
}

.suche-btn:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 10px;
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

input {
  padding-left: 20px;
}
